// Variables
$colour-primary: #1f5e4c;
$colour-secondary: #001534;
$colour-accent: #d6fff5;
$colour-white: #fff;
$colour-invalid: #db464b;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;
$heading-shadow-size: 0.55rem;
